@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Send+Flowers&display=swap');

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
  }

#profilePicture {
    display: block;
    height: 200px;
    margin: auto;
    border-radius: 100px;
}

#quote {
    border: 1px solid rgb(50, 50, 50);
    border-radius: 25px;
    background-color: white;
}

#caption {
    font-family: 'Send Flowers', cursive;
    font-size:2rem;
}

#author {
    font-size:1.5rem;
}

.altBackground {
    background-color: rgb(220, 220, 220);
}

.careercards {
    max-width: 250px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 25px;
  }